.myProjects {
    min-height: 100vh;
    background-color: #fbad6d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.myProjectsWrap {
    height: 150px;

}

.projectsWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media screen and (max-width: 1252px) {
    .projectsWrap {
        justify-content: center;
    }
}