.project {
    width: 500px;
    height: 600px
}

.backgroundImg {
    background: white;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImg a {
    display: flex;
    justify-content: center;
    align-items: center;
}

