.skills {
    height: 100vh;
    background-color: #bdffa3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.skillsWrap {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.mySkillsWrap {
    height: 150px;
}
