.contacts {
    height: 100vh;
    background-color: #b95c67;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    display: flex;
    flex-direction: column;
    /*width: 40%;*/
    height: 50%;
    justify-content: space-between;
    width: 500px;
}

@media screen and (max-width: 626px) {
    .form {
        width: 100%;
    }
}

.formBtn {
    margin-top: auto;
}
