.footer {
    height: 300px;
    background-color: #62b9b2;
    display: flex;
    align-self: center;
    justify-content: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 500px;
    border: 1px solid;
}

@media screen and (max-width: 626px) {
    .socials {
        width: 100%;
    }
}

.socials div {
    background: white;
    height: 60px;
    width: 60px;
}

@media screen and (max-width: 340px) {
    .socials div {
        height: 50px;
        width: 50px;
    }
}